---
import Social from "./Social.astro";
---

<footer>
    <p>
        Learning astro
    </p>

    <Social platform="instagram" username="sudhySukumaran"></Social>
    <Social platform="facebook" username="sudhySukumaran"></Social>

</footer>