---
const {platform,username} = Astro.props;

---
<style>
    a{
        text-decoration: none;
        color: aquamarine;
        font-weight: 800;
        padding: 10px;
        background-color: red;
    }
</style>

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
